venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
lib/
bin/
include/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.vscode/
.idea/
.DS_Store
*.log
asignacion_hoy.jpg
asignacion_roberto.jpg
raw_messages_*.csv
ngrok.exe
ngrok_config.yml
ngrok_live.log
*.zip
*.rar
*.7z
